.overlay {
    position: fixed;
    inset: 0;
    top: 89px;
    background: rgba(0, 0, 0, 0.4);

    opacity: 0;

    pointer-events: none;

    transition: opacity 0.25s ease;
    z-index: 1000;
    overflow: hidden;
}

.overlay.open {
    opacity: 1;
    pointer-events: auto;

}

.mobile-nav {
    /* background: white; */
    transform: translateY(-100%);
    transition: transform 0.2s ease;
}


.mobile-nav.open {
    transform: translateY(0);
}