.categorie-links {
    display: grid;
    gap: 1rem;

    @media (width > 600px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.625rem;
    }
}

.category-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-gray-200);
    border-radius: 0.5rem;
    padding-block: 0.275rem;
    margin-block-start: 20%;
    cursor: pointer;
}

.category-link__header {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-extra-dark);
    font-size: var(--fs-400);
    letter-spacing: 1.07px;
    line-height: auto;

    @media(width > 1200px) {
        font-size: var(--fs-500);
        letter-spacing: var(--ls-500);
    }
}

.category-link:hover .btn {
    color: var(--clr-primary);
}

.category-link__img {
    inline-size: 50%;
    margin-block-start: -20%;
}