header {
    background-color: var(--clr-black);
}


.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
    border-block-end: 1px solid hsl(0, 0%, 100%, 0.14);
}

.hamburger,
.cart-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}