header {
    background-color: var(--clr-black);
}


.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
    gap: 2rem;

    @media (width > 600px) {
        justify-content: start;
    }

    @media (width > 1000px) {
        gap: 8rem;
    }
}

@media (width > 600px) {
    .cart-icon {
        margin-inline-start: auto;
    }
}

.hamburger,
.cart-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}



@media (width > 1062px) {
    .hamburger {
        display: none;
    }
}