section {
  padding-block: 3rem;
}

@layer utility {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .light-text {
    color: hsl(0, 0%, 100%, 0.75);
  }

  .dark-text {
    color: hsl(0, 0%, 0%, 0.5);
  }

  .category-header {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-extra-dark);
    font-size: var(--fs-400);
    letter-spacing: 1.07px;
    line-height: auto;

    @media(width > 1200px) {
      font-size: var(--fs-500);
      letter-spacing: var(--ls-500);
    }
  }

  .wrapper {
    max-width: 69.375rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
    text-align: center;

    @media (width > 768px) {
      padding-inline: 2.5rem;
    }
  }

  .flow *+* {
    margin-block-start: var(--flow-gap, 2rem);
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 10rem;
    block-size: 3rem;
    border: 0;
    cursor: pointer;
    font-weight: 700;
    margin-inline: auto;
    text-transform: uppercase;
    font-size: var(--fs-300);
    line-height: auto;
    letter-spacing: 1px;
    gap: 0.813rem;
    background-color: transparent;
  }

  .btn-primary {
    background-color: var(--clr-primary);
    color: var(--text-extra-light);
  }

  .btn-transparent {
    color: hsl(0, 0%, 0%, 0.5);
  }

  .btn-secondary {
    background-color: var(--clr-black);
    color: var(--text-extra-light);
  }

  .btn-border {
    border: 2px solid var(--clr-black);
  }
}